body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5;
    background-image: url('.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the image fixed when scrolling */
}
